.map-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* Hide Mapbox default controls */
.mapboxgl-ctrl-top-right,
.mapboxgl-ctrl-bottom-right,
.mapboxgl-ctrl-bottom-left {
  display: none !important;
}

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-attrib {
  display: none !important;
}

/* Mapbox Control Adjustments */
.mapboxgl-ctrl-bottom-right {
  bottom: 180px !important;
  right: 80px !important;
}
